{% load staticfiles %}
<link rel="stylesheet" href="{%  static "acquisition_presentation_server/css/chartist.min.css" %}">
<script src="{% static "acquisition_presentation_server/js/chartist.min.js" %}"></script>
<script src="{% static "acquisition_presentation_server/js/chartist-plugin-axistitle.min.js" %}"></script>
<script src="{% static "acquisition_presentation_server/js/chartist-plugin-threshold.min.js" %}"></script>
<script src="{% static "acquisition_presentation_server/js/chartist-plugin-tooltip.min.js" %}"></script>
<script type="text/javascript" src="{% static "acquisition_presentation_server/js/chart_utitlities.js" %}"></script>
