{% extends "presentation_server/skeletons/base_skeleton.html" %}
{% load static %}
{% block title %}APS - Client Configuration{% endblock %}
{% block head %}
    <script type="text/javascript"
            src="{% static "presentation_server/js/jquery-3.1.1.min.js" %}"></script>{% endblock %}
{% block content %}
    <div class="content">
        <h1 xmlns="http://www.w3.org/1999/html">Client configuration</h1>
        <div class="content_unit">
            <h2 style="color: red;">{{ error_message }}</h2>

            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#basic_configuration"
                                                          aria-controls="basic_configuration"
                                                          role="tab" data-toggle="tab">Basic Configuration</a>
                </li>
                <li role="presentation"><a href="#threshold_configuration" aria-controls="threshold_configuration"
                                           role="tab"
                                           data-toggle="tab">Thresholds</a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="basic_configuration">
                    <form id="conf_form" method="post" action="{{ current_url }}">
                        {% csrf_token %}
                        {{ form.non_field_errors }}
                        <table class="table">
                            <tbody>
                            <tr>
                                <td>
                                    <label for="{{ form.hostname.id_for_label }}">{{ form.hostname.label }}</label>
                                </td>
                                <td>
                                    {{ form.hostname }} <span class="error">{{ form.hostname.errors }}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="{{ form.ip_address.id_for_label }}">{{ form.ip_address.label }}</label>
                                </td>
                                <td>
                                    {{ form.ip_address }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="{{ form.base_probing_interval.id_for_label }}">{{ form.base_probing_interval.label }}</label>
                                </td>
                                <td>
                                    {{ form.base_probing_interval }} <span
                                        class="error">{{ form.base_probing_interval.errors }}</span>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <label for="{{ form.consecutive_probes_sent_count.id_for_label }}">{{ form.consecutive_probes_sent_count.label }}</label>
                                </td>
                                <td>
                                    {{ form.consecutive_probes_sent_count }} <span
                                        class="error">{{ form.consecutive_probes_sent_count.errors }}</span>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <div><label>Database memory length</label></div>
                                </td>
                                <td>
                                    <div>
                                    <span><label
                                            for="{{ form.monitoring_days.id_for_label }}">{{ form.monitoring_days.label }}</label>{{ form.monitoring_days }}</span>
                                        <span><label
                                                for="{{ form.monitoring_hours.id_for_label }}">{{ form.monitoring_hours.label }}</label>{{ form.monitoring_hours }}</span>
                                        <span><label
                                                for="{{ form.monitoring_minutes.id_for_label }}">{{ form.monitoring_minutes.label }}</label>{{ form.monitoring_minutes }}</span>
                                        <span><label
                                                for="{{ form.monitoring_seconds.id_for_label }}">{{ form.monitoring_seconds.label }}</label>{{ form.monitoring_seconds }}</span>
                                    </div>
                                </td>
                            </tr>


                            <tr>
                                <td><label>Monitored properties:<label></td>
                                <td>
                                    <table class="table">
                                        <tr>
                                            <th>
                                                Is monitored
                                            </th>
                                            <th>
                                                Show on dashboard
                                            </th>
                                            <th>
                                                Property name [unit]
                                            </th>
                                        </tr>
                                        {% for monitored_property in monitored_properties %}
                                            <tr>
                                                <td>
                                                    <input type="checkbox" name="monitored_properties[]"
                                                           class="checkbox"
                                                           value="{{ monitored_property.pk }}" {{ monitored_property.checked|yesno:"checked," }}
                                                           id="checkbox{{ monitored_property.pk }}"/>
                                                </td>
                                                <td>
                                                    <input type="radio" id="radio{{ monitored_property.pk }}"
                                                           name="show_on_dashboard[]"
                                                           value="{{ monitored_property.pk }}" class="radio"
                                                           onclick="on_radio_checked('checkbox{{ monitored_property.pk }}')"
                                                            {{ monitored_property.on_dashboard|yesno:"checked," }}
                                                    />
                                                </td>
                                                <td>{{ monitored_property.name }} [{{ monitored_property.type }}]</td>

                                            <tr/>
                                        {% endfor %}
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <button type="submit" class="btn btn-success" name="configure" value="configure">
                                        Apply
                                        Configuration
                                    </button>
                                    <button type="submit" class="btn btn-danger float-right" name="delete"
                                            value="delete"
                                            onclick="return confirm('Do you really want to delete client data?');">
                                        Delete
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </form>
                    <script type="text/javascript">
                        function on_radio_checked(checkbox_id) {
                            var checkbox = document.getElementById(checkbox_id);
                            checkbox.checked = true;
                        }
                    </script>
                </div>
                <div role="tabpanel" class="tab-pane" id="threshold_configuration">
                    <table class="table table-bordered">
                        <thead>
                        <tr class="bg-success">
                            <th>
                                Property
                            </th>
                            <th>
                                Threshold value
                            </th>
                            <th>
                                Cycles above<br/>threshold value
                            </th>
                            <th>
                                Type
                            </th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for monitored_property in monitored_properties %}
                            {% if monitored_property.checked %}
                                <tr class="active">
                                    <th class="col-md-3">
                                        {{ monitored_property.name }} [{{ monitored_property.type }}]
                                        <button type="button" class="btn btn-primary pull-right" data-toggle="modal"
                                                data-target="#triggerAddModal" data-mp_pk="{{ monitored_property.pk }}">
                                            Add Threshold
                                        </button>
                                    </th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                {% for threshold in monitored_property.thresholds %}
                                    <tr>
                                        <td></td>
                                        <td>
                                            {{ threshold.value }}
                                        </td>
                                        <td>
                                            {{ threshold.max_cons_abnormal_probes }}
                                        </td>
                                        <td>
                                            {{ threshold.type_as_string }}
                                        </td>
                                        <td>
                                            <form method="post"
                                                  action="{% url "aps:ThresholdConfiguration" %}">
                                                {% csrf_token %}
                                                <input type="hidden" value="{{ threshold.pk }}"
                                                       name="threshold_pk"/>
                                                <input type="hidden" value="{{ client_pk }}"
                                                       name="client_pk"/>
                                                <button type="submit" class="btn btn-xs float-right"
                                                        value="delete_threshold" name="delete_threshold">
                                                    <span class="glyphicon glyphicon-minus"></span>
                                                </button>
                                            </form>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="modal fade" id="triggerAddModal" tabindex="-1" role="dialog"
                         aria-labelledby="triggerAddModal">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <form method="post" action="{% url "aps:ThresholdConfiguration" %}">
                                    {% csrf_token %}
                                    <div class="modal-body">
                                        <button type="button" class="close" data-dismiss="modal"
                                                aria-label="Close"><span
                                                aria-hidden="true">&times;</span></button>
                                        <input type="hidden" id="mp_pk" name="mp_pk" title="MP-PK"/>
                                        <div class="form-group">
                                            <table class="table">
                                                {{ threshold_form.as_table }}
                                            </table>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close
                                        </button>
                                        <button type="submit" class="btn btn-success"
                                                name="add_threshold"
                                                value="add_threshold">
                                            Add threshold
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <script type="text/javascript">
                        $(document).ready(function () {
                            $('#triggerAddModal').on('show.bs.modal', function (event) {
                                var button = $(event.relatedTarget);
                                var mp_pk = button.data('mp_pk');
                                var modal = $(this);
                                console.error(mp_pk);
                                modal.find('#mp_pk').val(mp_pk);
                            })
                        });
                    </script>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(function () {
            // Javascript to enable link to tab
            var hash = document.location.hash;
            if (hash) {
                $('.nav-tabs a[href=\'' + hash + '\']').tab('show');
            }

            // Change hash for page-reload
            $('a[data-toggle="tab"]').on('show.bs.tab', function (e) {
                window.location.hash = e.target.hash;
            });
        });
    </script>
{% endblock %}