{% extends "presentation_server/skeletons/base_skeleton.html" %}
{% load staticfiles %}
{% block title %}APS - Clients{% endblock %}
{% block head %}
    {% include 'presentation_server/utils/includes_for_charts.html' %}
    <script type="text/javascript">
        // Collecting initial data for charts from server
        var charts = {};
        var pk_last_update = {};
        var visible_properties_for_clients = {};
        var chart_datasets = {{ monitoring_data | safe }};
    </script>
{% endblock %}
{% block content %}
    <div class="col-sm-3 col-md-2 sidebar">
        <form method="post" action="{% url "aps:index" %}">
            {% csrf_token %}
            {{ filtering_form.non_field_errors }}
            <div class="form-group">
                {{ filtering_form.filter_regex.errors }}
                <label for="{{ filtering_form.filter_regex.id_for_label }}">Filter hostnames</label>
                {{ filtering_form.filter_regex }}
            </div>
            <div class="form-group">
                {{ filtering_form.sorting.errors }}
                <label for="{{ filtering_form.sorting.id_for_label }}">Sort hostnames</label>
                {% for radio in filtering_form.sorting %}
                    <p>{{ radio }}</p>
                {% endfor %}
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-warning" name="apply_filtering">Apply</button>
            </div>
        </form>
    </div>
    <div class="container-fluid col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        {% for client in clients %}
            <div class="col-lg-4">
                <a href="{% url 'aps:ClientDetails' client.pk %}" class="nothing_on_hover">
                    <div class="panel panel-default" style="min-height: 300px">
                        <div class="panel-heading align_left" {% if client.has_alerts %}style="background-color: #FFCC33" {% endif %}>
                            <div class="panel-title" >
                                <div style="display: inline-block; padding-top: 5px; width: 100%">
                                    <span class="accent">{{ client.hostname }}</span>
                                    <span> {{ client.ip_address }}</span>

                                    <div style="display: inline-block;float: right">
                                        {% if client.has_alerts %}
                                            <span class="btn btn-sm glyphicon glyphicon-exclamation-sign float-right"
                                                  data-toggle="tooltip"
                                                  data-placement="bottom"
                                                  title="An alert has been triggered for this client. Check it's dashboard for details."></span>
                                        {% endif %}
                                        {% if user.is_authenticated %}
                                            <form class="inline_form flr" method="get"
                                                  action="{% url 'aps:ClientConfiguration' client.pk "" %}">
                                                <button type="submit" value="configure"
                                                        class="btn btn-sm glyphicon glyphicon-wrench">
                                                </button>
                                            </form>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div id="client_chart{{ client.pk }}" class="panel-body"></div>
                            <script type="text/javascript">
                                $(document).ready(function () {
                                    //Append client pk to visible clients - used on chart updating
                                    var pk = {{ client.pk }};
                                    var name_on_dash = "{{ client.property_on_dashboard.name }}";
                                    visible_properties_for_clients[{{ client.pk }}] = name_on_dash;
                                    var data_json = chart_datasets[pk];
                                    var time = data_json["unix_time"];
                                    charts[pk] = create_chart("#client_chart" + pk,
                                            data_json["data"][name_on_dash],
                                            time,
                                            name_on_dash, "{{ client.property_on_dashboard.type }}");
                                    pk_last_update[pk] = time[1];
                                })
                            </script>
                        </div>
                    </div>
                </a>
            </div>
            {% empty %}
            <h2>No clients are monitored yet.</h2>
        {% endfor %}
    </div>
    <script type="text/javascript">
        function updateCharts() {
            if (Object.keys(visible_properties_for_clients).length > 0) {
                $.ajax({
                    url: "{% url 'aps:UpdateCharts' %}",
                    type: "POST",
                    data: {
                        pk_last_update: JSON.stringify(pk_last_update)
                    },

                    success: function (json) {
                        var monitoring_data = json["monitoring_data"];
                        var new_pklupd = json["pk_last_update"];
                        for (var id in new_pklupd) {
                            pk_last_update[id] = new_pklupd[id];
                        }

                        for (var id in monitoring_data) {
                            var chart = charts[id];
                            update_chart(chart,
                                    monitoring_data[id]["data"][visible_properties_for_clients[id]],
                                    monitoring_data[id]["unix_time"]
                            );
                        }
                    },

                    error: function (xhr, errmsg, err) {
                        $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: " + errmsg +
                                " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
                        console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                    }
                });
            }
        }
        $(document).ready(function () {
            setInterval(updateCharts, ({{ update_ratio_seconds }}) * 1000);
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
{% endblock %}