{% extends "./skeletons/dashboard.html" %}
{% block title %}APS - Clients{% endblock %}
{% block content %}
    <table border="1px solid black">
        {% for blocked_client in blocked_clients %}
            <div class="panel panel-default">
                <div class="panel-heading align_left">
                    <div class="panel-title">
                        <div class="container" style="display: inline-block; padding-top: 5px;">
                            <span class="accent col-md-2">Hostname</span>
                            <span class="col-md-5">{{ blocked_client.hostname }}</span>
                        </div>
                    </div>
                </div>
                <div class="panel-body container">
                    <div class="row">
                        <div class="accent col-md-3">IP address</div>
                        <div class="col-md-3">{{ blocked_client.ip_address }}</div>
                        <div class="accent col-md-2">Port</div>
                        <div class="col-md-3">{{ blocked_client.port }}</div>
                        </br>
                        <p>Monitored properties:
                        {{ blocked_client.monitored_properties.all|join:", "}}
                        </p>
                        <br/>
                        <form method="post" action="{% url 'aps:BlockedClientModify'%}">
                            {% csrf_token %}
                            <input type="hidden" name="blocked_client_pk" value="{{ blocked_client.pk }}" />
                            <button type="submit" class="btn btn-success" name="accept" value="accept">Accept</button>
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}
    </table>
{% endblock %}