{% extends "./skeletons/dashboard.html" %}
{% block title %}APS - Client Configuration{% endblock %}
{% block content %}
    <h1>Konfiguracja klienta</h1>
    <div class="content_unit">
        <h2 style="color: red;">{{ error_message }}</h2>
        <form id="conf_form" method="post" action="{{ current_url }}">
            {% csrf_token %}
            <table class="table">
                {{ form.as_table }}
                <tr>
                    <td>Monitored properties:</td>
                    <td>
                        <table class="table">
                            <tr>
                                <th>
                                    Is monitored
                                </th>
                                <th>
                                    Show on dashboard
                                </th>
                                <th>
                                    Property name [unit]
                                </th>
                            </tr>
                            {% for monitored_property in monitored_properties %}
                                <tr>
                                    <td>
                                        <input type="checkbox" name="monitored_properties[]" class="checkbox"
                                               value="{{ monitored_property.0 }}" {{ monitored_property.3 }}
                                               onclick="disable_enable_radio(this, 'radio{{ monitored_property.0 }}')"
                                                id="checkbox{{ monitored_property.0 }}"/>
                                    </td>
                                    <td>
                                        <input type="radio" id="radio{{ monitored_property.0 }}"
                                               name="show_on_dashboard[]"
                                               value="{{ monitored_property.0 }}" class="radio"/>
                                        <script type="text/javascript">
                                            $(document).ready(function() {
                                                disable_enable_radio(document.getElementById('checkbox{{ monitored_property.0 }}'),
                                                        "radio{{ monitored_property.0 }}");
                                            })
                                        </script>
                                    </td>
                                    <td>{{ monitored_property.1 }} [{{ monitored_property.2 }}]<td/>
                                <tr/>
                            {% endfor %}
                        </table>
                    </td>
                </tr>
                <tr>
                    <td><input type="submit" class="btn btn-warning" value="Configure"/></td>
                </tr>
            </table>
        </form>
    </div>
    <script type="text/javascript">
        function disable_enable_radio(checkbox, radio_id) {
            var radio = document.getElementById(radio_id);
            radio.disabled = !checkbox.checked;
        }
    </script>
{% endblock %}