{% extends "./skeletons/dashboard.html" %}
{% load staticfiles %}
{% block title %}APS - Client Details{% endblock %}
{% block head %}
    <meta http-equiv="refresh" content="5; {% url 'aps:ClientDetails' client.pk%}">
    <script type="text/javascript" src="{% static "acquisition_presentation_server/js/jquery-3.1.1.min.js" %}"></script>
    <script type="text/javascript" src="{% static 'acquisition_presentation_server/js/Chart.min.js' %}"></script>
    <script type="text/javascript">
        // Collecting initial data from server

    </script>
{% endblock %}
{% block content %}
<h1>Szczegóły dot. klienta</h1>
<div class="content_unit">
    <div class="row">
        <div class="fll col-lg-6"><span class="accent">Hostname:</span> {{ client.hostname }}</div>
        <div class="col-lg-6"><span class="accent">IP address:</span> {{ client.ip_address }}</div >
    </div>
    <div class="row">
        <div class="fll col-lg-6"><span class="accent">Port:</span> {{ client.port }}</div>
        <div class="col-lg-6"><span class="accent">Probing interval: </span> {{ client.probing_interval }}</div >
    </div>
    <div class="panel panel-default">
        <div id="client_chart{{ client.pk }}" class="panel-body"></div>
        <script type="text/javascript">
            $(document).ready(function() {
                var container = $("#client_chart{{ client.pk }}").get(0);
                var data_json= {{ monitoring_data | safe}};
                var time = data_json["unix_time"];
                var data = data_json["data"];
                for (var data_unit in data){
                    var chart_canvas = document.createElement("canvas");
                    chart_canvas.setAttribute("style", "max-height: 300px; width: 100%;")
                    var ctx = chart_canvas.getContext("2d");
                    container.appendChild(chart_canvas);
                    var data_arr = data[data_unit];
                    new Chart(ctx, { type: "line", data: {
                        labels: time,
                        datasets: [{
                            label: data_unit,
                            data: data_arr,
                            tension: 0,
                            backgroundColor: 'rgba(0, 50,200,0.1)'

                        }]
                    },
                    options: {
                        responsive: true,
                        maintainAspectRatio: false
                    }
                    });

                }
            })
        </script>
    </div>
</div>
{% endblock %}