<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pending Clients</title>
</head>
<body>
    <table class=".table">
        {% for client in clients %}
            <tr>
                <td>
                    <p>Hostname: {{ client.hostname }}</p>
                    <p>ip_address: {{ client.ip_address }}</p>
                    <p>port: {{ client.port }}</p>
                    <form method="get" action="{% url 'aps:ClientConfiguration' client.pk ""%}">
                        <input type="submit" value="configure" />
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>

