{% extends "acquisition_presentation_server/skeletons/base_skeleton.html" %}
{% load staticfiles %}
{% block title %}APS - Client Details{% endblock %}
{% block head %}
    <script type="text/javascript" src="{% static "acquisition_presentation_server/js/jquery-3.1.1.min.js" %}"></script>
    {% include 'acquisition_presentation_server/utils/includes_for_charts.html' %}

    <script type="text/javascript">
        var charts = {};
        var chart_datasets = {{ monitoring_data | safe }};
        var pk_last_update = {};
        var time = chart_datasets["unix_time"];
        pk_last_update[{{ client.pk }}] = time[time.length - 1];
        var x = 1 + 2;
    </script>
{% endblock %}
{% block content %}
    <h1>Szczegóły dot. klienta</h1>
    <div class="content_unit">
        <div class="row">
            <div class="fll col-lg-6">
                <span class="accent">{{ client.hostname }} </span>
                {{ client.ip_address }}:{{ client.port }}
            </div>
            <div class="fll col-lg-6">
                <span class="accent">Probing interval: </span>
                {{ client.probing_interval }}</div>
        </div>
        <div id="client_charts"></div>
        <script type="text/javascript">
            $(document).ready(function () {
                for (var data_entry in chart_datasets["data"]) {
                    var data_json = chart_datasets["data"][data_entry];
                    var element = document.createElement("div");
                    element.setAttribute("id", data_entry);
                    document.getElementById("client_charts").appendChild(element);
                    charts[data_entry] = create_chart("#" + data_entry,
                            data_json,
                            chart_datasets["unix_time"],
                            data_entry,
                            "unit"
                    );
                }
            })
        </script>
        <div>
            {% if user.is_authenticated %}
                <form method="get" action="{% url 'aps:ClientConfiguration' client.pk "" %}">
                    <button type="submit" value="configure"
                            class="btn btn-warning">Configure</button>
                </form>
            {% endif %}
        </div>
    </div>
    <script type="text/javascript">
        function updateCharts() {
            var to_send = JSON.stringify(pk_last_update);
            $.ajax({
                url: "{% url 'aps:UpdateCharts' %}", // the endpoint
                type: "POST", // http method
                data: {
                    pk_last_update: to_send
                }, // data sent with the post request

                // handle a successful response
                success: function (json) {
                    var monitoring_data = json["monitoring_data"][{{ client.pk}}];
                    pk_last_update = json["pk_last_update"];
                    for (var data_entry in monitoring_data["data"]) {
                        var chart = charts[data_entry];
                        update_chart(chart,
                                monitoring_data["data"][data_entry],
                                monitoring_data["unix_time"]
                        );
                    }
                },

                // handle a non-successful response
                error: function (xhr, errmsg, err) {
                    $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: " + errmsg +
                            " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
                    console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                }
            });
        }
        $(document).ready(function () {
            setInterval(updateCharts, ({{ update_ratio_seconds }}) * 1000);
        })
    </script>
{% endblock %}