{% extends "acquisition_presentation_server/skeletons/base_skeleton.html" %}
{% block title %}APS - Client Configuration{% endblock %}
{% block content %}
    <h1 xmlns="http://www.w3.org/1999/html">Konfiguracja klienta</h1>
    <div class="content_unit">
        <h2 style="color: red;">{{ error_message }}</h2>

        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#basic_configuration" aria-controls="basic_configuration"
                                                      role="tab" data-toggle="tab">Basic Configuration</a>
            </li>
            <li role="presentation"><a href="#threshold_configuration" aria-controls="threshold_configuration"
                                       role="tab"
                                       data-toggle="tab">Thresholds</a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="basic_configuration">
                <form id="conf_form" method="post" action="{{ current_url }}">
                    {% csrf_token %}
                    <table class="table">
                        {{ form.as_table }}
                        <tr>
                            <td>Monitored properties:</td>
                            <td>
                                <table class="table">
                                    <tr>
                                        <th>
                                            Is monitored
                                        </th>
                                        <th>
                                            Show on dashboard
                                        </th>
                                        <th>
                                            Property name [unit]
                                        </th>
                                        <th>
                                            Allow Threshold
                                        </th>
                                        <th>
                                            Threshold value
                                        </th>

                                        <th>
                                            Cycles before action
                                        </th>
                                    </tr>
                                    {% for monitored_property in monitored_properties %}
                                        <tr>
                                            <td>
                                                <input type="checkbox" name="monitored_properties[]" class="checkbox"
                                                       value="{{ monitored_property.pk }}" {{ monitored_property.checked|yesno:"checked," }}
                                                       id="checkbox{{ monitored_property.pk }}"/>
                                            </td>
                                            <td>
                                                <input type="radio" id="radio{{ monitored_property.pk }}"
                                                       name="show_on_dashboard[]"
                                                       value="{{ monitored_property.pk }}" class="radio"
                                                       onclick="on_radio_checked('checkbox{{ monitored_property.pk }}')"
                                                        {{ monitored_property.on_dashboard|yesno:"checked," }}
                                                />
                                            </td>
                                            <td>{{ monitored_property.name }} [{{ monitored_property.type }}]</td>

                                        <tr/>
                                    {% endfor %}
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button type="submit" class="btn btn-success" name="configure" value="configure">Apply
                                    Configuration
                                </button>
                                <button type="submit" class="btn btn-danger float-right" name="delete" value="delete"
                                        onclick="return confirm('Do you really want to delete client data?');">Delete
                                </button>
                            </td>
                        </tr>
                    </table>
                </form>
                <script type="text/javascript">
                    function on_radio_checked(checkbox_id) {
                        var checkbox = document.getElementById(checkbox_id);
                        checkbox.checked = true;
                    }
                </script>
            </div>
            <div role="tabpanel" class="tab-pane" id="threshold_configuration">

                <table class="table">
                    <tr>
                        <th></th>
                        <table>
                            <tr>
                                <th>Threshold value</th>
                                <th>Cycles of value exceeded<br/>before activation</th>
                                <th>Type</th>
                            </tr>
                        </table>

                    </tr>
                    {% for monitored_property in monitored_properties %}
                        {% if monitored_property.checked %}
                            <tr>
                                <td>{{ monitored_property.name }}</td>

                                <td>
                                    <form method="post"
                                          action="{% url "aps:ThresholdConfiguration" %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="client_pk" value="{{ client_pk }}"/>
                                        <table>
                                            {% for threshold in monitored_property.thresholds %}
                                                <tr>
                                                    <td>
                                                        {{ threshold.value }}
                                                    </td>
                                                    <td>
                                                        {{ threshold.max_cycle_above_value }}
                                                    </td>
                                                    <td>
                                                        {{ threshold.type }}
                                                    </td>
                                                    <td>
                                                        <button type="submit" class="btn btn-default float-right"
                                                                name="delete_{{ threshold.pk }}">
                                                            <span class="glyphicon glyphicon-minus"></span>
                                                        </button>

                                                    </td>

                                                </tr>
                                            {% endfor %}

                                            <tr>
                                                <td>
                                                    <input type="hidden" name="mp_pk"
                                                           value="{{ monitored_property.pk }}"/>
                                                    <input type="text" name="threshold_value"/>
                                                </td>
                                                <td>
                                                    <input type="text" name="threshold_cycles"/>
                                                </td>
                                                <td>
                                                    <input type="text" name="threshold_type"/>
                                                </td>
                                                <td>
                                                    <button type="submit" class="btn btn-default float-right"
                                                            name="add_threshold"
                                                            value="add_threshold">
                                                        <span class="glyphicon glyphicon-plus"></span>
                                                    </button>
                                                </td>

                                            </tr>


                                        </table>
                                    </form>
                                </td>
                            </tr>

                            {#                            <td>#}
                            {#                                                <input type="checkbox" name="allowed_thresholds[]" class="checkbox"#}
                            {#                                                       value="{{ monitored_property.pk }}"#}
                            {#                                                       id="allow_threshold_checkbox{{ monitored_property.pk }}"/>#}
                            {#                                            </td>#}
                            {##}
                            {#                                            <td>#}
                            {#                                                <input type="text" name="thresholds_values[]" class="text"#}
                            {#                                                       value="0"#}
                            {#                                                       id="thresholds_values_text{{ monitored_property.pk }}"/>#}
                            {#                                            </td>#}
                            {##}
                            {#                                            <td>#}
                            {#                                                <input type="text" name="threshold_cycles[]" class="text"#}
                            {#                                                       value="1"#}
                            {#                                                       id="threshold_cycles_text{{ monitored_property.pk }}"/>#}
                            {#                                            </td>#}
                        {% endif %}
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}