{% extends "./skeletons/dashboard.html" %}
{% load staticfiles %}
{% block title %}APS - Clients{% endblock %}
{% block content %}
<script type="text/javascript" src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
<script type="text/javascript" src="{% static 'acquisition_presentation_server/js/Chart.min.js' %}"></script>
{% for client_data in clients_data %}
            <div class="panel panel-default">
                <div class="panel-heading align_left">
                    <div class="panel-title">

                        <form class="inline_form" method="get" action="{% url 'aps:ClientConfiguration' client_data.client.pk ""%}">
                                <button type="submit" value="configure" class="btn btn-default btn-md glyphicon glyphicon-wrench">
                                </button>
                        </form>
                        <div class="container" style="display: inline-block; padding-top: 5px;">
                            <span class="accent col-md-2">Hostname</span>
                            <span class="col-md-5">{{ client_data.client.hostname }}</span>
                        </div>
                    </div>
                </div>
                <div class="panel-body container">
                    <div class="row">
                        <div class="accent col-md-3">IP address</div>
                        <div class="col-md-3">{{ client_data.client.ip_address }}</div>
                        <div class="accent col-md-2">Port</div>
                        <div class="col-md-3">{{ client_data.client.port }}</div>
                    </div>
                    <div class="panel panel-default">
                        <div id="client_chart{{ client_data.client.pk }}" class="panel-body"></div>
                        <script type="text/javascript">
                            $(document).ready(function() {
                                var container = $("#client_chart{{ client_data.client.pk }}").get(0);
                                var data_json= {{ client_data.monitoring_data | safe}};
                                var time = data_json["unix_time"];
                                var data = data_json["data"];
                                for (var data_unit in data){
                                    var chart_canvas = document.createElement("canvas");
                                    chart_canvas.setAttribute("style", "max-height: 300px; width: 100%;")
                                    var ctx = chart_canvas.getContext("2d");
                                    container.appendChild(chart_canvas);
                                    var data_arr = data[data_unit];
                                    new Chart(ctx, { type: "line", data: {
                                        labels: time,
                                        datasets: [{
                                            label: data_unit,
                                            data: data_arr,
                                            tension: 0,
                                            backgroundColor: 'rgba(0, 50,200,0.1)'

                                        }]
                                    },
                                    options: {
                                        responsive: true,
                                        maintainAspectRatio: false
                                    }
                                    });

                                }
                            })
                        </script>
                    </div>
                </div>
            </div>
{% endfor %}

{% endblock %}