{% extends "./skeletons/dashboard.html" %}
{% load staticfiles %}
{% block title %}APS - Clients{% endblock %}
{% block content %}
{% for client in clients %}
            <div class="panel panel-default">
                <div class="panel-heading align_left">
                    <div class="panel-title">

                        <form class="inline_form" method="get" action="{% url 'aps:ClientConfiguration' client.pk ""%}">
                                <button type="submit" value="configure" class="btn btn-default btn-md glyphicon glyphicon-wrench">
                                </button>
                        </form>
                        <div class="container" style="display: inline-block; padding-top: 5px;">
                            <span class="accent col-md-2">Hostname</span>
                            <span class="col-md-5">{{ client.hostname }}</span>
                        </div>
                    </div>
                </div>
                <div class="panel-body container">
                    <div class="row">
                        <div class="accent col-md-3">IP address</div>
                        <div class="col-md-3">{{ client.ip_address }}</div>
                        <div class="accent col-md-2">Port</div>
                        <div class="col-md-3">{{ client.port }}</div>
                    </div>
                    <div class="panel panel-default">
                      <div class="panel-body" >
                            <canvas class="myChart"></canvas>
                      </div>
                    </div>
                </div>
            </div>
{% endfor %}

        <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
        <script type="text/javascript" src="{% static 'acquisition_presentation_server/js/Chart.min.js' %}"></script>
        <script type="text/javascript">
            $.get('{% url "aps:line_chart_json" %}', function(data) {
                var ctx = $(".myChart").get(0).getContext("2d");
                new Chart(ctx, { type: "line", data: data,});
            });
        </script>
{% endblock %}